.tab-row {
  display: block;
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 3ex;
}

.tab-row ul li {
  display: inline-block;
  width: 19.2%;
  min-width: 3em;
  padding: 0;
  border-top: .15ex solid lightgray;
  border-left: .15ex solid lightgray;
  border-right: .15ex solid lightgray;
  line-height: 2em;
  cursor: pointer;
}

.tab-row a {
 display: block;
 width: 100%;
 text-decoration: none;
 padding: .45ex 0 .45ex 0;
 color: lightgray;
 font-size: 3ex;
 line-height: 1.5em;
}

.tab-row a span {
  display: none;
}

.tab-row a:hover {
  color: darkgray;
}

.tab-row .tab-current {
  border-top: .4ex solid lightgray;
  border-left: .15ex solid lightgray;
  border-right: .15ex solid lightgray;
  border-bottom: .15ex solid white;
}

.tab-current a {
  color: orange;
}

.tab-current a:hover {
  color: cornflowerblue;
}

section {
  display: none;
  width: 100%;
}

.singlepanel {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
}

.singlepanel > p {
  font-size: 2ex;
  margin-bottom: 1ex;
}

.container .panels .content-current {
  display: block;
}

@media screen and (min-width: 32em) {
  .tab-row ul li {
    margin-right: .25ex;
    margin-left: .25ex;
    width: 15%;
  }

  .singlepanel {
    display: block;
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 1em;
  }

  .singlepanel .text {
    display: inline-block;
    width: 55%;
    font-size: 2ex;
    vertical-align: middle;
    margin-left: 1em;
  }
}

@media screen and (min-width: 55em) {
  .tab-row a span {
    display: inline;
    margin: 4px;
  }

  section {
    margin-left: .75%;
  }

  .singlepanel {
    display: inline-block;
    width: 30%;
    margin-left: 1.25%;
    margin-right: 1.25%;
    text-align: left;
  }
  .singlepanel .text {
    display: inline-block;
    width: 95%;
    font-size: 2ex;
  }

}
