.tab-row {
  font-weight: 400;
  border-bottom: .15ex solid lightgray;
  display: block;
  text-align: right;
  width: 100%;
  margin-top: .2ex;
  margin-bottom: 1ex;
  ul li {
    display: inline-block;
    width: 15%;
    min-width: 3em;
    padding: 0;
    line-height: 2em;
    cursor: pointer;
  }
  a {
   display: block;
   width: 100%;
   text-decoration: none;
   padding: .45ex 0 .45ex 0;
   color: lightgray;
   font-size: 3ex;
   line-height: 1.5em;
  }
  a span {
    display: none;
  }
  a:hover {
    font-weight: 400;
    border: .15ex solid #e0e0e0;
    border-bottom-color: #fff;
    border-top: .2ex solid #f90;
  }
}

.tab-row .tab-current {
  border-top: .4ex solid lightgray;
  border-left: .15ex solid lightgray;
  border-right: .15ex solid lightgray;
  border-bottom: .15ex solid white;
}

.tab-current {
  border-radius: 5px;
  a {
  color: orange;
  }
  .tab-current a:hover {
    color: orange;
    transform: scale(1.05);
  }
}

#questionTitle {
  display:inline-block;
  position: relative;
  align: left;
  width: 100%;
}
#Author {
  align: right;
  display: inline-block;
}

.footer {
  display: block;
  width: 100%;
  background-color: darkgrey;
  color: white;
  padding: 1.2em 0 1.2em 0;
  text-align: center;
}
.footer ul {
  display: inline-block;
  list-style: none;
}
.footer li {
  padding: .2em 0 .2em 0;
}
.footer a {
  font-size: 1.5em;
  font-weight: bold;
}
