<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Answer a Question</title>
</head>

<body ng-controller="AnswerController as answer">
  <div class="container">
    <nav class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active">
          <li>
            <button><a href="#" ng-click="#" class="btn btn-default">Questions</a></button>
          </li>
          <li>
            <button><a href="#" ng-click="#" class="btn btn-default">Ask Question</a></button>
          </li>
      </ul>
      <h1 class="text-muted">
        <strong>
          <big>TIY-Upvote</big>
        </strong>
      </h1>
    </nav>
    <div>
      <h2>{{Question Title}}</h2>
      <aside>
        <a class="vote-up-off" title="This question shows research effort; it is useful and clear">&#9650;</a>
        <span itemprop="upvoteCount" class="vote-count-post ">{{#}}</span>
        <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">&#9660;</a>
        <a class="star-off" href="#" title="This is a favorite question (click again to undo)">&star;</a>
      </aside>
      <p>{{question.content}}</p>
    </div>
    <hr>
    <form>
      <div class="form-group" id="answer">
        <input type="text" class="form-control" id="answerText" placeholder="Write your answer here.">
      </div>
      <button type="submit" class="btn btn-default">Post Your Answer</button>
    </form>
</body>

</html>
