<main class="container">
  <h2>{{Question Title}}</h2>
  <aside>
    <a class="vote-up-off" title="This question shows research effort; it is useful and clear">&#9650;</a>
    <span itemprop="upvoteCount" class="vote-count-post ">{{test}}</span>
    <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">&#9660;</a>
    <a class="star-off" href="#" title="This is a favorite question (click again to undo)">&star;</a>
  </aside>
  <p>{{question.content}}</p>

  <hr>
  <form>
    <div class="form-group" id="answer">
      <input type="text" class="form-control" id="answerText" placeholder="Write your answer here.">
    </div>
    <button type="submit" class="btn btn-default">Post Your Answer</button>
  </form>
</main>
