<body class="container" ng-app="tiy-upvote">

    <!-- input your question field -->
    <ul ng-repeat="question in ask.questions">
    <bloquote>
      <h3>{{question.title}}</h3>
      {{question.info}}
      {{question.tags}}
    </bloquote>
    </ul>
    <!--  Review Form -->
  <form name="askForm" ng-controller="AskController as askCtrl" ng-submit="askForm.addQuestion(ask)">
    <fieldset class="form-group">
      <strong>Title</strong>
      <input type="text" placeholder="What's your programming question? Be specific." title="Questions"  class="form-control" ng-model="askCtrl.question.title" required>
      </input>
    </fieldset>
    <!-- ask_question text area size: per reference implementation -->
    <fieldset class="form-group">
      <textarea class="form-control" cols="92" rows="15" tabindex="101" title="Information" ng-model="askCtrl.question.info" required></textarea>
    </fieldset>
    <!-- tags -->
    <fieldset class="form-group">
      <strong>Tags</strong>
      <input type="text" class="form-control" title="Tags" ng-model="askCtrl.question.tags" required />
    </fieldset>
    <!-- checkbox -->
    <fieldset class="form-group">
      <input type="checkbox" ng-model="askCtrl.question.checkbox" />
      <label for="email_responses">Send me new responses to my posts via email</label><a href="#"> (settings)</a>
    </fieldset>
    <!-- submit question button -->
    <input type="submit" ng-submit="update(user)" class="btn btn-primary pull-left" value="Post Your Question" />
  </form>
</body>
