<main class="container-fluid">

      <nav class="tab-row col-lg-6-offset-3">
        <ul class="nav">
          <li class="active">
            <li class="tab-current">
              <nav><a href="#" class="btn btn-link-default">interesting</a></nav>
            </li>
            <li>
              <nav>
                <a href="#" class="btn btn-link">
                  <span>link_to_go_here?</span>featured</a>
              </nav>
            </li>
            <li>
              <nav><a href="#" class="btn btn-link">hot</a></nav>
            </li>
            <li>
              <nav><a href="#" class="btn btn-link">week</a></nav>
            </li>
            <li>
              <nav><a href="#" class="btn btn-link">month</a></nav>
            </li>
          </li>
        </ul>
      </nav>


      <div class="row questions content-current" ng-controller="ListController as list">
        <div class="col-lg-12 singlepanel" ng-repeat="question in list.questions">
          <section class="col-lg-3 counters">
            <p class="col-md-1" id="votesTotal">{{question.votes}}
              <br>votes</p>
                <p class="col-md-1 offset-1" id="answerTotal">{{question.answers}}
                  <br>answers</p>
                <p class="col-md-1 offset-1" id="viewsTotal">{{question.views}}
                  <br>views</p>
          </section><!-- end counters -->
          <div class="col-lg-6 question pull-right">
            <h4 id="questionTitle">Title
              <br>{{question.title}}
              <br>
            </h4>
            <span id="timeWritten">Written: {{question.time}}</span>
          <h5 id="Author">By: {{question.author}}</h5>
            <a href="#/one-question">click to see more</a>
          </div><!-- end question -->
        </div>
      </div><!-- end question container -->

    <footer class="footer col-lg-12">
      <ul class="col-lg-4">
        <a href="#" id="Technology">Technology</a>
        <li>Discussions</li>
        <li>Popular</li>
        <li>Voting</li>
        <li>Reference</li>
      </ul>
      <ul class="col-lg-4">
        <a href="#" id="OtherThings">Other Things</a>
        <li>Discussions</li>
        <li>Popular</li>
        <li>Voting</li>
        <li>Reference</li>
      </ul>
      <ul class="col-lg-4">
        <a href="#" id="ContactUs">Contact Us</a>
        <li>Discussions</li>
        <li>Popular</li>
        <li>Voting</li>
        <li>Reference</li>
      </ul>
    </footer>
</main>
