
<main class="container-fluid">
  <div class="row questions">
    <div class="col-lg-12">
      <nav class="tab-row">
        <ul class="nav">
          <li class="active">
            <li class="tab-current">
              <button><a href="#" class="btn btn-default">interesting</a></button>
            </li>
            <li>
              <button>
                <a href="#" class="btn btn-link">
                  <span>link_to_go_here?</span>featured</a>
              </button>
            </li>
            <li>
              <button><a href="#" class="btn btn-link">hot</a></button>
            </li>
            <li>
              <button><a href="#" class="btn btn-link">week</a></button>
            </li>
            <li>
              <button><a href="#" class="btn btn-link">month</a></button>
            </li>
          </li>
        </ul>
      </nav>
      <div class="row questions content-current" ng-controller="ListController as list">
        <div class="col-lg-8 singlepanel" ng-repeat="question in list.questions"> <!--something else might need to go here but need to figure out what -->
          <a href="#/one-question">click to see more</a>
          <h4>Title<br>{{question.title}}<br></h4>
          <p>Description<br>{{question.description}}<br></p>
          <h5>Author:{{question.author}}</h5>
          <h5>{{question.author_url}}</h5>
          <h6>Written:{{question.time}}</h6>
          <p>Votes<br>{{question.votes}}<br><p>
          <p>Views<br>{{question.views}}<br></p>
          <p>Answers:{{question.answers}}</p>
        </div>
      </div>


        <footer class="footer">
        <ul>
          <a href="#">Technology</a>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
        </ul>
        <ul>
          <a href="#">Other Things</a>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
        </ul>
        <ul>
          <a href="#">Contact Us</a>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
        </ul>
      </footer>
      </div>
    </div>
</main>
